* {
    font-family: 'Varela Round', sans-serif;
}

.font-style {
    font-size: 12px;
    color: white;
    font-weight: 500;
    font-family: sans-serif;
}

.main-color {
    background-color: #a5c926;
}

.color {
    color: #a5c926;
}

.nav-top-info {
    float: left;
}

.nav-social {
    float: right;
}

.social-link {
    height: 50%;
}

.bg-color {
    background-color: #f8f9fa;
}

.zero {
    padding: 3px 8px;
    font-size: 12px;
    border-radius: 50%;
    background-color: #a5c926;
    text-align: center;
}

.back-image {
    background-image: url(../images/background1.jpg);
    background-size: cover;
    background-position: center;
}

.hero-intro {
    background-color: white;
    border-radius: 20px;
    padding: 50px 0px;
}

.product-item {
    border-radius: 8px;
    box-shadow: 0px 2px 20px 1px #ccb6b694;
}

.product-item:hover {
    box-shadow: 0px 5px 20px 1px #ccb6b694;
}

.seeall {
    background-image: url(https: //uploads-ssl.webflow.com/5badda2935e11303a89a461e/5baf79eb570913b9781a96f2_arrow-right-mini-icon.svg);
        background-repeat: no-repeat;
    background-position: right;
    background-size: 15px;
    font-size: 14px;
    font-weight: 600;
}

strong {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Varela Round', sans-serif;
    color: #111;
}

.back-image-2 {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 70%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("https://uploads-ssl.webflow.com/5badda2935e11303a89a461e/5baf3d57ace69c149bb331b8_tim-gouw-165547-unsplash.jpg");
}

.line {
    width: 30%;
    height: 2px;
}

.bg-image {
    background-image: url(../images/_side-image-01.jpg);
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 300px;
    border-radius: 15px;
}

.textbox {
    width: 400px;
    border-radius: 28px;
    font-family: verdana;
    font-size: 18px;
}

.border {
    box-shadow: 0px 2px 17px 1px darkgray;
    background-color: #fff;
    padding: 35px 35px 35px 0px;
    border-radius: 20px;
}

.intsa {
    border-radius: 20px;
}

/*
a {
    color: white;

}
*/
