.font-style {
    font-size: 12px;
    color: white;
    font-weight: 500;
    font-family: sans-serif;
}

.main-color {
    background-color: #a5c926;
}

.color {
    color: #a5c926;
}

.nav-top-info {
    float: left;


}

.nav-social {
    float: right;
}

.social-link {
    height: 50%;
}

.bg-color {
    background-color: #f8f9fa;
}

.zero {

    padding: 3px 8px;
    font-size: 12px;
    border-radius: 50%;
    background-color: #a5c926;
    text-align: center;
}

.back-image {
    background-image: url(../images/background1.jpg);
    background-size: cover;
    background-position: center;
}

.hero-intro {
    background-color: white;
    border-radius: 20px;
    padding: 50px 0px;

}

.product-item {
    border-radius: 8px;
    box-shadow: 0px 2px 20px 1px #ccb6b694;
}

.product-item:hover {
    box-shadow: 0px 5px 20px 1px #ccb6b694;
}
